#showDetial{
    cursor: pointer;
  }
  .vehicle-info-container{
    display: flex;
    width: 100%;
    gap: 50px;
  }
  .vehicle-photo-section{
    width: 50%;
    max-height: 400px;
  }
  .vehicle-photo-section>img{
    height: 100%;
    width: 100%;
  }
  .vehicle-info-section{
    width: 50%;
  }
  .vehicle-actions{
    display: flex;
    gap: 150px;
  }