.Buslocation{
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* padding-top: 5%; */
}

.roadmap-text {
    font-weight: 700;
    font-size: 40px;
    fill: #000;
    text-wrap: balance;
    cursor: pointer;
}

.one{
    margin-top: 50px;
}

